.button {
    -fx-font-weight: bold;
}


.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #5C868D;
}


.jfx-tab-pane .tab-header-area .control-buttons-tab {
visibility: hidden;
-fx-min-width: 0;
-fx-pref-width: 0;
-fx-max-width: 0;
-fx-padding: 0;
}